body {
    font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    outline: 1px solid red;
}

/* ___________________HEADER_____________________ */

.header {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.header-container {
    position: absolute;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-link {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-list {
    display: flex;
    gap: 32px;
}

.header-link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.header-btn {
    display: block;
    /* margin: 0 auto; */
    padding: 16px 32px;


    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    border: none;
    border-radius: 12px;
}


/* ____________________HERO_______________________ */

.hero-container {
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 204px;
    padding-bottom: 312px;
}

.hero-title {
    display: block;
    max-width: 872px;
    margin: 0 auto;
    margin-bottom: 16px;

    color: rgba(255, 255, 255, 1);
    font-size: 96px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.hero-title span {
    color: rgba(255, 255, 255, 1);
    font-size: 96px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.hero-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

    max-width: 716px;

    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;


    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    border: none;
    border-radius: 12px;
}

.hero-icon-btn {
    margin-left: 10px;
    /* fill: rgba(96, 71, 206, 1);
    stroke: rgba(96, 71, 206, 1); */
}

/* ________________Running__________________ */

/* .running {
    background-color: rgba(0, 0, 0, 1);
} */

.running-wrap {
    display: flex;
    gap: 75px;
    justify-content: center;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 1);
}

.running-list {
    display: flex;
    gap: 85px;
    max-width: 923px;
    margin: 0 auto;

    padding-top: 32px;
    padding-bottom: 32px;
}

/* __________________Services________________ */

.services-container {
    background-color: rgba(0, 0, 0, 1);
    padding: 80px;
    display: flex;
    gap: 40px;
}

.services-wrap {
    display: flex;
    gap: 16px;
}

.services-title {
    max-width: 363px;

    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}

.services-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 829px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 40px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.32);

}

.services-item:last-child {
    margin-bottom: 0;
}

.services-item-wrap {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: start;
}

.services-number {
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 4%;
    text-align: left;
}

.services-link {
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
}

/* __________________RECENT__________________ */

.recent-container {
    padding: 80px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.recent-wrap {
    display: flex;
    gap: 16px;
}


.recent-title {
    margin-bottom: 16px;

    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}

.recent-text {
    max-width: 411px;
    margin-bottom: 64px;

    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;

}

.recent-list {
    display: flex;
    gap: 24px;
    margin-bottom: 64px;
}

.recent-img {
    margin-bottom: 16px;
    border-radius: 24px;
}

.recent-card-text {
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 4%;
    text-align: left;
}

.recent-card-title {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}

.recent-subtext {
    display: block;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 16px;

    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    text-align: center;
}

.recent-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;


    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    border: none;
    border-radius: 12px;
}

.recent-icon-btn {
    margin-left: 10px;
}

/* __________________PRICING___________________ */

.pricing-container {
    padding: 80px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.pricing-wrap {
    display: flex;
    gap: 16px;
    margin-bottom: 64px;
}

.pricing-title {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}

.pricing-cards {
    display: flex;
    gap: 24px;
    align-content: center;
    justify-content: space-between;
}

.pricing-card {
    max-width: 411px;
    padding: 8px;
    border: 2px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
}

.pricing-card:hover .pricing-card-wrap {
    /* background-color: linear-gradient(219.64deg, rgba(135, 41, 255, 1) 0%, rgba(81, 24.6, 153, 1) 100%); */
    background-image: linear-gradient(219.64deg,
            rgba(135, 41, 255, 1) 0%,
            rgba(81, 24.6, 153, 1) 100%)
}

.pricing-card-wrap {
    max-width: 395px;
    padding: 24px;
    border-radius: 16px;
    background-color: rgba(135, 41, 255, 0.24);
}

.pricing-title {
    margin-bottom: 16px;

    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.20;
    text-align: left;
}

.pricing-text {
    margin-bottom: 24px;

    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    text-align: left;
}

.pricing-prise {

    margin-bottom: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 1.20;
    text-align: left;
}

.pricing-span {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.60;
    text-align: center;
}

.pricing-btn {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;

    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.pricing-list {
    padding: 16px;
}

.pricing-item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;

    margin-bottom: 8px;

}

.pricing-item:last-child {
    margin-bottom: 0;
}

.pricing-subtext {
    max-width: 339px;

    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    text-align: left;
}