body {
    font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    outline: 1px solid red;
}

/* ___________________HEADER_____________________ */

.header {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.header-container {
    position: absolute;
    display: flex;
    align-items: center;
}

.header-logo-link {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo-icon {}

.header-list {
    display: flex;
    gap: 32px;
}

.header-item {}

.header-link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.header-btn {
    display: block;
    /* margin: 0 auto; */
    padding: 16px 32px;


    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    border: none;
    border-radius: 12px;
}


/* ____________________HERO_______________________ */
.hero {}

.hero-container {
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 204px;
    padding-bottom: 312px;
}

.hero-title {
    display: block;
    max-width: 872px;
    margin: 0 auto;
    margin-bottom: 16px;

    color: rgba(255, 255, 255, 1);
    font-size: 96px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.hero-title span {
    color: rgba(255, 255, 255, 1);
    font-size: 96px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.hero-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;

    max-width: 716px;

    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;


    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    border: none;
    border-radius: 12px;
}

.hero-icon-btn {
    margin-left: 10px;
    /* fill: rgba(96, 71, 206, 1);
    stroke: rgba(96, 71, 206, 1); */
}